input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.input-group {
  margin-bottom: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  padding-right: 40px;
  border: 2px solid #b2bcbe;
  border-radius: 4px;
  font-size: 16px;
  color: transparent;
}

.placeholder {
  pointer-events: none;
  position: absolute;
  top: 40px;
  left: 12px;
  font-size: 16px;
}

.ico {
  position: absolute;
  top: 40px;
  right: 12px;
  font-size: 16px;
}

.focused .placeholder {
  display: none;
}

.focused input {
  color: black;
}
